<a href="https://colab.research.google.com/github/abdullayevsardor01/DATASET_SA/blob/main/2-amaliy_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2-MODUL TOPSHIRIQLARI

ABDULLAYEV SARDOR

Masalani ishlash va topshiriqni yuklash qoidalari.
1. Diqqat! masalalar hamma uchun bir xil bo’lganligi o’chun so’ralgan
saytlardan o’zining accounti orqali kirilganligi va yaratilishi kerak
bo’lgan repasitorya tekshiriladi
2. Quyilgan link orqali kerakli saytlardan ruyxatdan o’ting va kerakli
DataSet ni toping.
3. Masalani yaxshilab o’qib nima suralgani va qanday ishlanishi
kerakligiga e’tibor bering.
4. Google Colabda linkini quyish shart.
5. Masalaning berilishni yozgandan kiyin uning kodini va natijasining
rasmini quyish shart.
6.

1) https://github.com platformasidan va https://www.kaggle.com saytlaridan
ruyxatdan o’ting va github.com dan DataSet larni jamlagan repositorya
yarating(huddi manabu kabi: https://github.com/JamshidSalimov/AiFayls)

2) Masala. https://www.kaggle.com/datasets shu link orqali FIFA Jahon
chempionati 2022 oʻyin maʼlumotlarini yuklab oling va team ustunini
indexlariga o’tkazing bundan tashqari ma’lumotlarni qayta ishlovchi
mutaxasis Ingliz tilini bilmasligi sababli bu DataSet ni ustunlarini va
qatorlari sonini aniqlab o’ning ustunlarini nomini o’zbek tiliga tarjima qilib
qayta nomlang va o’zingizning logikangizdan kelib chiqib DataSetga ishlov
bering (qanchalik yaxshi ishlov berilganligiga qarab baxoni yaxshi
olishingiz mumkun.)

3) Masala. 1-masalada yaratgan repositoryangizni yuklab oling va uning
ichidagi excel va csv fayillaridan bittadan yuklab oling va ularga ishlov
bering (index, ustunlarini tartiblang) va bu DataSetlarni HDF5 obyektiga
birma bir .h5 fayl kengaytmasida saqlang va obyektni yoping.

4) Masala.Yuqorida yaratgan .h5 fayl kengaytmali obyektingizni elimentlarini
chaqirib oling va DataFrame ning ichidagi takrorlanuvchi va keraksiz
malumotlarni olib tashlang enga asosiy ustunni tanlab uni indexlariga
o’tkazing va qayta saqlang.

1. https://github.com platformasidan va https://www.kaggle.com saytlaridan ruyxatdan o’ting va github.com dan DataSet larni jamlagan repositorya yarating(huddi manabu kabi: https://github.com/JamshidSalimov/AiFayls)


https://github.com/abdullayevsardor01

https://www.kaggle.com/sardorabdullayev

https://github.com/abdullayevsardor01/DATASET_SA

2. Masala. https://www.kaggle.com/datasets shu link orqali FIFA Jahon chempionati 2022 oʻyin maʼlumotlarini yuklab oling va team ustunini indexlariga o’tkazing bundan tashqari ma’lumotlarni qayta ishlovchi mutaxasis Ingliz tilini bilmasligi sababli bu DataSet ni ustunlarini va qatorlari sonini aniqlab uning ustunlarini nomini o’zbek tiliga tarjima qilib qayta nomlang va o’zingizning logikangizdan kelib chiqib DataSetga ishlov bering (qanchalik yaxshi ishlov berilganligiga qarab baxoni yaxshi olishingiz mumkun.)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!git clone "https://github.com/abdullayevsardor01/DATASET_SA"

fatal: destination path 'DATASET_SA' already exists and is not an empty directory.

In [23]:
df=pd.read_csv("/content/DATASET_SA/group_stats.csv",index_col=3)
df

,Unnamed: 0,group,rank,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
team,,,,,,,,,,,,,,,
Netherlands,0,1,1,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
Senegal,1,1,2,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
Ecuador,2,1,3,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
Qatar,3,1,4,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
England,4,2,1,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
United States,5,2,2,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
IR Iran,6,2,3,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
Wales,7,2,4,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
Argentina,8,3,1,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
Poland,9,3,2,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
Mexico,10,3,3,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
Saudi Arabia,11,3,4,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
France,12,4,1,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
Australia,13,4,2,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
Tunisia,14,4,3,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
Denmark,15,4,4,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
Japan,16,5,1,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
Spain,17,5,2,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
Germany,18,5,3,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
Costa Rica,19,5,4,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
Morocco,20,6,1,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
Croatia,21,6,2,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
Belgium,22,6,3,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
Canada,23,6,4,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
Brazil,24,7,1,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
Switzerland,25,7,2,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
Cameroon,26,7,3,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
Serbia,27,7,4,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
Portugal,28,8,1,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
Korea Republic,29,8,2,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
Uruguay,30,8,3,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
Ghana,31,8,4,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Netherlands to Ghana
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  32 non-null     int64
 1   group                       32 non-null     int64
 2   rank                        32 non-null     int64
 3   matches_played              32 non-null     int64
 4   wins                        32 non-null     int64
 5   draws                       32 non-null     int64
 6   losses                      32 non-null     int64
 7   goals_scored                32 non-null     int64
 8   goals_against               32 non-null     int64
 9   goal_difference             32 non-null     int64
 10  points                      32 non-null     int64
 11  expected_goal_scored        32 non-null     float64
 12  exp_goal_conceded           32 non-null     float64
 13  exp_goal_difference         32 non-null     float64
 14  exp_goal_difference_per_90  32 non-null     float64
dtypes: float64(4), int64(11)
memory usage: 4.0+ KB

In [25]:
! pip install translate
! python setup.py install

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: translate in /usr/local/lib/python3.10/dist-packages (3.6.1)
Requirement already satisfied: libretranslatepy==2.1.1 in /usr/local/lib/python3.10/dist-packages (from translate) (2.1.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from translate) (4.9.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from translate) (2.27.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from translate) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->translate) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->translate) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->translate) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->translate) (2.10)
python3: can't open file '/content/setup.py': [Errno 2] No such file or directory

In [26]:
from translate import Translator
translator= Translator(to_lang="uz")
translation = translator.translate("hello how are you?")
translation

'Salom qandaysiz'

In [27]:
B=df.columns
cound=len(B)
arr=np.arange(0,cound)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [28]:
from translate import Translator
translator= Translator(to_lang="uz")
arrw=[]
for x in B:
  arrw.append(translator.translate(x))

In [29]:
df.columns=arrw
df

,Nomsiz,Guruh,Oʻrin,o&#39;yinlar,g&#39;alaba qozonadi,chizadi,(зарарлари),gollar,maqsadlarga_ qarshi,maqsad_farqi,Ballar,kutilgan_gol,Exp_goal_o&#39;tkazib yuborildi,Exp_maqsad_farqi,Exp_maqsad_farqi_boshiga_90
team,,,,,,,,,,,,,,,
Netherlands,0,1,1,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
Senegal,1,1,2,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
Ecuador,2,1,3,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
Qatar,3,1,4,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
England,4,2,1,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
United States,5,2,2,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
IR Iran,6,2,3,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
Wales,7,2,4,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
Argentina,8,3,1,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
Poland,9,3,2,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
Mexico,10,3,3,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
Saudi Arabia,11,3,4,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
France,12,4,1,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
Australia,13,4,2,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
Tunisia,14,4,3,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
Denmark,15,4,4,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
Japan,16,5,1,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
Spain,17,5,2,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
Germany,18,5,3,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
Costa Rica,19,5,4,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
Morocco,20,6,1,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
Croatia,21,6,2,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
Belgium,22,6,3,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
Canada,23,6,4,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
Brazil,24,7,1,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
Switzerland,25,7,2,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
Cameroon,26,7,3,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
Serbia,27,7,4,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
Portugal,28,8,1,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
Korea Republic,29,8,2,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
Uruguay,30,8,3,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
Ghana,31,8,4,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48

## **3-masala**

3-Masala. 1-masalada yaratgan repositoryangizni yuklab oling va uning
ichidagi excel va csv fayillaridan bittadan yuklab oling va ularga ishlov
bering (index, ustunlarini tartiblang) va bu DataSetlarni HDF5 obyektiga
birma bir .h5 fayl kengaytmasida saqlang va obyektni yoping.

In [30]:
df1=pd.read_csv("/content/DATASET_SA/group_stats.csv",index_col=0)
df1

,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
5,2,2,United States,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
6,2,3,IR Iran,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
7,2,4,Wales,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
8,3,1,Argentina,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
9,3,2,Poland,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
10,3,3,Mexico,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
11,3,4,Saudi Arabia,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
12,4,1,France,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
13,4,2,Australia,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
14,4,3,Tunisia,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
15,4,4,Denmark,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
16,5,1,Japan,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
17,5,2,Spain,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
18,5,3,Germany,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
19,5,4,Costa Rica,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
20,6,1,Morocco,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
21,6,2,Croatia,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
22,6,3,Belgium,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
23,6,4,Canada,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
24,7,1,Brazil,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
25,7,2,Switzerland,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
26,7,3,Cameroon,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
27,7,4,Serbia,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
28,8,1,Portugal,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
29,8,2,Korea Republic,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
30,8,3,Uruguay,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
31,8,4,Ghana,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48

In [31]:
hdf1=pd.HDFStore("group.h5")
hdf1.put("group",df1)

In [32]:
hdf1["group"]

,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
5,2,2,United States,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
6,2,3,IR Iran,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
7,2,4,Wales,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
8,3,1,Argentina,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
9,3,2,Poland,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
10,3,3,Mexico,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
11,3,4,Saudi Arabia,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
12,4,1,France,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
13,4,2,Australia,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
14,4,3,Tunisia,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
15,4,4,Denmark,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
16,5,1,Japan,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
17,5,2,Spain,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
18,5,3,Germany,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
19,5,4,Costa Rica,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
20,6,1,Morocco,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
21,6,2,Croatia,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
22,6,3,Belgium,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
23,6,4,Canada,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
24,7,1,Brazil,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
25,7,2,Switzerland,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
26,7,3,Cameroon,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
27,7,4,Serbia,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
28,8,1,Portugal,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
29,8,2,Korea Republic,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
30,8,3,Uruguay,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
31,8,4,Ghana,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48

4) Masala.Yuqorida yaratgan .h5 fayl kengaytmali obyektingizni elimentlarini chaqirib oling va DataFrame ning ichidagi takrorlanuvchi va keraksiz malumotlarni olib tashlang enga asosiy ustunni tanlab uni indexlariga o’tkazing va qayta saqlang.

In [33]:
df2=pd.read_csv("/content/DATASET_SA/group_stats.csv",index_col=0)
df2

,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
5,2,2,United States,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
6,2,3,IR Iran,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
7,2,4,Wales,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
8,3,1,Argentina,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
9,3,2,Poland,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
10,3,3,Mexico,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
11,3,4,Saudi Arabia,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
12,4,1,France,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
13,4,2,Australia,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
14,4,3,Tunisia,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
15,4,4,Denmark,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
16,5,1,Japan,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
17,5,2,Spain,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
18,5,3,Germany,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
19,5,4,Costa Rica,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
20,6,1,Morocco,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
21,6,2,Croatia,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
22,6,3,Belgium,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
23,6,4,Canada,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
24,7,1,Brazil,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
25,7,2,Switzerland,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
26,7,3,Cameroon,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
27,7,4,Serbia,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
28,8,1,Portugal,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
29,8,2,Korea Republic,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
30,8,3,Uruguay,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
31,8,4,Ghana,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48

In [34]:
hdf2=pd.HDFStore("gr_stats.h5")
hdf2.put("gr_stat",df2)

In [35]:
hdf2["gr_stat"]

,group,rank,team,matches_played,wins,draws,losses,goals_scored,goals_against,goal_difference,points,expected_goal_scored,exp_goal_conceded,exp_goal_difference,exp_goal_difference_per_90
0,1,1,Netherlands,3,2,1,0,5,1,4,7,2.4,2.7,-0.3,-0.11
1,1,2,Senegal,3,2,0,1,5,4,1,6,3.8,2.5,1.3,0.43
2,1,3,Ecuador,3,1,1,1,4,3,1,4,3.7,2.6,1.2,0.39
3,1,4,Qatar,3,0,0,3,1,7,-6,0,1.4,3.5,-2.1,-0.71
4,2,1,England,3,2,1,0,9,2,7,7,5.2,2.3,2.9,0.97
5,2,2,United States,3,1,2,0,2,1,1,5,2.6,2.7,-0.1,-0.03
6,2,3,IR Iran,3,1,0,2,4,7,-3,3,3.2,4.2,-0.9,-0.32
7,2,4,Wales,3,0,1,2,1,6,-5,1,2.7,4.6,-1.9,-0.63
8,3,1,Argentina,3,2,0,1,5,2,3,6,6.0,0.7,5.2,1.74
9,3,2,Poland,3,1,1,1,2,2,0,4,2.8,5.9,-3.1,-1.04
10,3,3,Mexico,3,1,1,1,2,3,-1,4,3.3,2.4,0.9,0.30
11,3,4,Saudi Arabia,3,1,0,2,3,5,-2,3,3.0,6.0,-3.0,-1.01
12,4,1,France,3,2,0,1,6,3,3,6,7.2,1.6,5.5,1.85
13,4,2,Australia,3,2,0,1,3,4,-1,6,1.7,5.6,-3.9,-1.29
14,4,3,Tunisia,3,1,1,1,1,1,0,4,2.3,2.8,-0.5,-0.17
15,4,4,Denmark,3,0,1,2,1,3,-2,1,2.7,3.9,-1.2,-0.39
16,5,1,Japan,3,2,0,1,4,3,1,6,3.8,4.2,-0.4,-0.14
17,5,2,Spain,3,1,1,1,9,3,6,4,5.2,2.7,2.5,0.82
18,5,3,Germany,3,1,1,1,6,5,1,4,10.1,3.4,6.7,2.22
19,5,4,Costa Rica,3,1,0,2,3,11,-8,3,1.4,10.1,-8.7,-2.90
20,6,1,Morocco,3,2,1,0,4,1,3,7,2.4,2.8,-0.5,-0.15
21,6,2,Croatia,3,1,2,0,4,1,3,5,3.8,3.8,0.0,-0.01
22,6,3,Belgium,3,1,1,1,1,2,-1,4,4.7,4.6,0.2,0.05
23,6,4,Canada,3,0,0,3,2,7,-5,0,4.2,3.9,0.3,0.11
24,7,1,Brazil,3,2,0,1,3,1,2,6,5.9,0.9,4.9,1.65
25,7,2,Switzerland,3,2,0,1,4,3,1,6,4.4,3.1,1.4,0.45
26,7,3,Cameroon,3,1,1,1,4,4,0,4,3.4,5.8,-2.3,-0.78
27,7,4,Serbia,3,0,1,2,5,8,-3,1,3.4,7.3,-3.9,-1.32
28,8,1,Portugal,3,2,0,1,6,4,2,6,4.6,3.9,0.7,0.24
29,8,2,Korea Republic,3,1,1,1,4,4,0,4,4.1,3.5,0.6,0.19
30,8,3,Uruguay,3,1,1,1,2,2,0,4,3.7,3.5,0.1,0.05
31,8,4,Ghana,3,1,0,2,5,7,-2,3,4.1,5.6,-1.4,-0.48